:root {
  --main: #e38e0f;
  --font: 'fnaf';
  --font-size: 27px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font);
  font-size: 16px;
  text-rendering: geometricPrecision;
}

span {
  font-size: inherit;
}

img {
  image-rendering: optimizeQuality;
}

source {
  image-rendering: optimizeQuality;
}

body {
  width: 1248px;
  height: 900px;
  margin: auto;
  background-color: rgb(40, 40, 40);
  overflow: hidden;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.menuwrapper {
  margin-top: 3rem;
  display: flex;
  margin-bottom: 0.5rem;
  gap: 15px;
  flex-direction: row;
  width: 100%;
}

.buttonstyle {
  all: unset;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgb(40, 40, 40), rgb(40, 40, 40)) padding-box,
  linear-gradient(to right, rgb(155, 100, 17), darkorchid) border-box;
  border: 4px solid transparent;
  border-radius: 0.5rem;
  color: white;
  z-index: 21;
  padding: 5px;
  font-size: 16px;
}

.moodwrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.mood {
  display: flex;
  align-items: center;
  gap: 3px;
}

.fontbutton {
  display: none;
}

.fontbutton.visible {
  display: unset;
}

.top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.freddywrapper {
  background: linear-gradient(rgb(40, 40, 40), rgb(40, 40, 40)) padding-box,
  linear-gradient(to right, rgb(155, 100, 17), darkorchid) border-box;
  border-radius: 0.5rem;
  border: 4px solid transparent;
  width: 300px;
  height: 25rem;
  z-index: 20;
}
  
.freddy {
  width: 300px;
  height: 25rem;
  object-fit: contain;
  border-radius: 0.2rem;
  position: relative;
  top: 0rem;
}

.aboutwrapper {
  background: linear-gradient(rgb(40, 40, 40), rgb(40, 40, 40)) padding-box,
  linear-gradient(to right, rgb(155, 100, 17), darkorchid) border-box;
  border-radius: 10px;
  border: 4px solid transparent;
  width: auto;
  max-width: 920px;
  height: 25rem;
  display: flex;
  flex-direction: column;
  z-index: 20;
  justify-content: space-between;
  font-family: inherit;
}

.about {
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  padding: 0px 10px 0px 10px;
  gap: 5px;
  max-width: 920px;
}


h1 { 
  margin-top: 5px;
  padding: 5px;
  font-size: calc(var(--font-size) + 10px);
  color: wheat;
  align-self: center;
}

p {
  color: wheat;
  font-size: var(--font-size);
  margin-top: 10px;
  margin-left: 10px;
  text-rendering: geometricPrecision;
}

hr {
  width: 900px;
  align-self: center;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.links {
  margin-top: 1rem;
  background: linear-gradient(rgb(40, 40, 40), rgb(40, 40, 40)) padding-box,
  linear-gradient(to right, rgb(155, 100, 17), darkorchid) border-box;
  border-radius: 10px;
  border: 4px solid transparent;
  width: 100%;
  height: 300px;
  display: flex;
  z-index: 20;
  flex-direction: column;
  align-items: center;
}

.linkswrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-self: center;
  justify-self: center;
  margin-top: 20px;
}

.twitter, .tumblr, .bluesky, .pronounspage, .github {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 160px;
  height: 200px;
}

.twitter-l, .github-l, .bluesky-l {
  height: 160px;
  width: 160px;
}

.twitter p, .tumblr p, .cohost p, .pronounspage p, .github p {
  margin-left: 0px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  font-size: inherit;
}

.obliterate {
  font-style: italic;
  color: var(--main);
  font-size: inherit;
}

.start {
  color: var(--main);
  font-size: inherit;
}

p a {
  text-decoration: underline;
  color: rgb(54, 82, 222);
}

p a:hover {
  color: wheat;
}

.blinkies {`
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.blinkies a {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.blinkies picture img, .blinkies picture source {
  width: 210px;
  height: auto;
}

.blinkies#pressure picture img, .blinkies#pressure picture source {
  width: 100px;
  height: auto;
}

#pressure.blinkies a{
  justify-content: space-around;
}

img, source {
  user-select: none;
  pointer-events: none;
}

.links > a:nth-child(4) {
  font-size: 50px !important;
  text-align: center;
  margin-top: 10px;
  margin-left: 0px;
  background: linear-gradient(rgb(40, 40, 40), rgb(40, 40, 40)) padding-box,
  linear-gradient(to right, rgb(155, 100, 17), darkorchid) border-box;
  border-radius: 10px;
  border: 4px solid transparent;
  width: auto;
  margin-top: 40px;
  width: 100px;
}

.links > a:nth-child(4) p {
  font-size: 27px;
  color: rgb(54, 82, 222);
  margin: 0px;
  padding: 10px;
  padding-top: 15px;
}

.links > a:nth-child(4):hover p {
  color: wheat;
}

.creditsfade {
  background-color: black;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 0.3;}
}


.creditswrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  }

.creditstext {
  background: linear-gradient(rgb(40, 40, 40), rgb(40, 40, 40)) padding-box,
  linear-gradient(to right, rgb(155, 100, 17), darkorchid) border-box;
  border: 4px solid transparent;
  border-radius: 10px;
  min-width: 35%;
  min-height: 40%;
  max-height: 60%;
  max-width: 60%;
  padding: 1rem;
}

#creditswrapper.visible{
  animation: bottom-up 1.5s ease-in-out;
  opacity: 1;
}

#creditswrapper.visible .creditstext {
  pointer-events: all;
}

.creditsfade.visible {
  animation: fade-in 1.5s ease-in-out;
  opacity: 0.3;
  pointer-events: unset;
}

@keyframes bottom-up {
  0% {opacity: 0; transform: translateY(10rem);}
  100% {opacity: 1}
  
}

.creditsfade.notvisible {
  opacity: 0;
  animation: fade-out 1.5s ease-in-out;
}

@keyframes fade-out {
  0% {opacity: 0.3;}
  100% {opacity: 0;}
}

#creditswrapper.notvisible {
  animation: top-down 1.5s ease-in-out;
}

@keyframes top-down {
  0% {opacity: 1}
  100% {opacity: 0; transform: translateY(10rem);}
}

#exit {
  position: relative;
  top: 0px;
  right: 0px;
  text-decoration: underline;
}

.modalheader {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1260px) {

  body {
    overflow: visible;
    width: 100vw;
    height: 100%;
  }

  .background {
    object-fit: cover;
  }

  .top {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 1rem;
  }

  .about {
    width: auto;
    height: auto;
  }

  .bottom {
    width: unset;
  }
  
  .links {
    margin: 1rem;
    width: 100%;
    height: auto;
  }

  .linkswrapper {
    flex-direction: column;
    align-self: unset;
    justify-content: unset;
    width: auto;
    gap: 10px;
  }

  .blinkies a {
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 0.8rem;
  }
  
  hr {
    width: 95%;
    min-width: 250px;
    max-width: 900px;
  }

  .links > a:nth-child(4) {
    position: relative;
    top: 6rem;
    margin-top: -4rem;
  }

  .menuwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .creditswrapper {
    margin: 50px;
  }
}