* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.grid-f {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.figuraIntro {
    padding: 10px;
    font-size: 30px;
}

.figuraHeader {
    font-size: 50px;
    padding: 10px;
}

.figuraVideo {
    padding: 10px;
    height: 716px;
    width: 604px;
}

.backDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.back p {
    padding: 10px;
    font-size: 30px;
    text-decoration: underline;
    color: blue;
}

.blinkie p {
    padding: 10px;
    font-size: 30px;
}

.blinkie a {
    text-decoration: underline;
    color: blue;
}

.back:hover p, .blinkie a:hover {
    text-decoration: none;
    color: black;
}

.blinkie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blinkie img {
    width: 88px;
    height: 31px;
    align-self: center;
}

