:root {
    --accent: #A08B62;
    --main: #231F16;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 984px;
    width: 1920px;
    margin: auto;
    background-image: url(/Assets/Pictures/);
}

.wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
}

.mainpage {
    margin-top: 20vh;
    width: 800px;
    height: 580px;;
    border-radius: 20px;
    overflow: scroll hidden;
    background: var(--main);
    z-index: 9;
    border: 2px var(--accent) solid;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.full-l-w {
    margin-top: 10px;
    height: 25px;
    width: 400px;
    border-bottom: 1px var(--accent) solid;
    text-align: center;
}

a {
    color: var(--accent);
}

.full-l-w a {
    
}

p {
    margin-top: 10px;
    font-size: large;
    color: var(--accent);
}